.navigation-bar {
  border-radius: 0;
  border: 0;
  height: 10vh;
}
.hide-content {
  display: none;
}
.nav-list {
  gap: 0.5rem;
  margin-inline: 1rem;
}

.search-filter {
  border: 1px solid var(--secondary-bg-color);
  border-radius: 0.8rem;
  padding: 0.2rem;
  margin-right: 0.4rem;
}
.icon-search {
  padding: 0.4rem;
}
.search-space {
  padding: 0.4rem;
  outline: none;
  border: none;
  font-size: 1.2rem;
}
@media only screen and (max-width: 650px) {
  .hide-content {
    display: flex;
  }
  .nav-list,
  .nav-right-icons-container {
    display: none;
  }
}
