.wishlist-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 70vh;
}
.favorite {
  color: var(--favourite-product-color);
  cursor: pointer;
}
.text-empty {
  align-self: center;
}
