@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap");
:root {
  /** colors **/
  --logo-color: #0070d1;
  --nav-items-color: #363636;
  --nav-items-hover: #0072ce;
  --heading-color: #202020;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #1f1f1f;
  --btn-primary-color: #2e65e6;
  --btn-text-bg-white: #19191f;
  --footer-bg: #00439c;
  --warning: #ffb900;
  --label-color: #2d64e6;
  --white: #fff;
  --red-color: #f8513d;
  --cart-btn-color: #d63d00;
  --btn-primary-color: #2e65e6;
  --ligth-gray: #d3d3d3;
  --login-box-shadow: #0000001a 0px 4px 12px;
}
